/*
* 存储公共样式: 如颜色统一定义在此页面
*/
#app{
  height:100%;
}
/* 输入框背景强制为白色 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset !important;
  outline: none !important;
}
/* 所有页面的最底层背景色 */
.rzl_fc_undercoat{
  color: #f5f5f5;
}
.rzl_bc_undercoat{
  background-color: #f5f5f5;
}
.rzl_bd_darkgray {
  border-color: #f5f5f5;
}
/* 提示、警告信息 */
.rzl_fc_errRed{
  color: #D62828;
}
.rzl_bc_errRed {
  background-color: #D62828;
}
/* 按钮字体颜色, 按钮背景色 */
.rzl_fc_navy{
  color: #1D2088;
}
.rzl_bc_navy {
  background-color: #1D2088;
}
.rzl_bd_navy {
  border-color: #1d2088;
}
/* 表格内容字体 */
.rzl_fc_darkgray{
  color: #555555;
}
.rzl_fc_white{
  color: #ffffff;
}
.rzl_bc_white{
  background-color: #ffffff;
}
.rzl_fc_smokyGrey{
  color: #444444;
}
.rzl_bc_smokyGrey{
  background-color: #444444;
}
.rzl_fc_lightBlue{
  color: #4642FF;
}
.rzl_bc_lightBlue{
  background-color: #4642FF;
}
.rzl_fc_shallowGreen{
  color: #1DD1EF;
}
.rzl_bc_shallowGreen{
  background-color: #1DD1EF;
}
.rzl_fc_lightGrey{
  color: #CDCDCD;
}
.rzl_bc_lightGrey{
  background-color: #CDCDCD;
}
.rzl_bd_lightGrey {
  border-color: #cdcdcd;
}
.rzl_fc_darkBlue{
  color: #2D2B4C;
}
.rzl_bc_darkBlue{
  background-color: #2D2B4C;
}

/* 清除浮动 */
.clearfix:after,
.clearfix:before {
  clear: both;
  content: '\0020';
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*搜索框搜索按钮样式*/
.rzl_seach_Input{
  width: 300px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #CDCDCD;
  border-radius: 10px;
  margin-right: 20px;
  text-indent: 20px;
  outline:none;
}
.rzl_seach_button{
  height: 38px;
  line-height: 38px;
  width: 60px;
  border: none;
  border-radius: 10px;
  outline:none;
  cursor: pointer;
}
/* 按钮的公共样式 */
.btn{
  background:white;
  border: 2px solid #1D2088;
  border-radius: 8px;
  color: #1D2088;
  outline: none;
  cursor: pointer;
}
.rzl_content_button{
  cursor: pointer;
  border-radius: 10px;
  border:0 none;
  height: 38px;
  line-height: 38px;
  width: 120px;
  color: #ffffff;
  background-color: #1D2088;
}
/****复写tooltip弹窗效果***/
.el-popover {
  width: 240px;
  height: 60px;
  padding: 10px 11px;
  background: #ffffff;
  box-shadow: 0 2px 4px 2px #e5e5e5;
  border-radius: 10px;
}

/****复写日历选中的背景色****/
.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: #1D2088 !important;
}
.el-autocomplete-suggestion{
  width: 620px !important;
}
/* todo: 与UI的js效果冲突 */
/* .el-date-table td span:hover{
  color: #1d2088;
} */

.popper__arrow{
  display: none !important;
}
.el-dropdown-menu{
  margin-top: -2px !important;
  padding: 0;
  width: 200px;
  background-color: #2D2B4C;
  border-radius: 0 !important;
  border: none;
}
.el-dropdown-menu__item{
  height: 56px;
  line-height: 56px;
  padding-left: 14px;
  box-sizing: border-box;
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover{
  background-color: #2D2B4C;
  color: #1DD1EF;
}
.el-dropdown-menu__item:focus .downItem-icon,
.el-dropdown-menu__item:not(.is-disabled):hover  .downItem-icon{
  background: #1DD1EF;
}
.center-downMenu li.downItem-active{
  background-color: #2D2B4C;
  color: #1DD1EF;
}
.center-downMenu li.downItem-active i.downItem-icon{
  color: #1DD1EF;
  background: #1DD1EF;
}

/* 方案配置的统一遮罩 */
.config-mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.60);
  z-index: 900;
  display: none;
}
.el-message-box__title span{
  font-size: 18px;
  color: #1d2088;
  font-weight: 600;
}
.el-message-box__message p{
  color: #1d2088;
}
.el-button--primary {
  cursor: pointer;
  border-radius: 10px;
  border:0 none;
  height: 38px;
  width: 80px;
  color: #ffffff;
  background-color: #1D2088;
}
.el-button--primary:hover{
  color: #ffffff;
  background-color: #1D2088;
}
.red{
  color:red!important;
}
/* 必填项标识 */
.require-color{
  margin-right: 5px;
}

/* 尺寸3840之间的：版心最小宽度为，两侧宽各为： */
@media screen and (min-width:3840px) {
  .top-header{

  }
  .rzl-contarner{

  }
  .footer {

  }
}

/* 尺寸在1440至3840之间的：版心最小宽度为：1280px，两侧宽各为：80px */
@media screen and (min-width:1440px) and (max-width:3840px){
  .top-header {
    min-width: 1440px;
    height: auto;
    box-sizing: border-box;
  }
  .rzl-contarner {
    padding: 0 80px;
    min-width: 1280px;
    height: auto;
    box-sizing: border-box;
  }
  .footer {
    min-width: 1440px;
    height: 100%;
    box-sizing: border-box;
  }
  .welcomeLogin{
    padding:32px 0px 61px;
  }
  .kuohaoright,.kuohaoleft{
    width:40px;
    height:74px;
  }
}

/* 尺寸在1024至1440之间的：版心最小宽度为：904px，两侧宽各为：60px */
@media screen and (max-width:1440px){
  .top-header {
    min-width: 904px;
    height: auto;
    box-sizing: border-box;
  }
  .rzl-contarner {
    padding: 0 60px;
    min-width: 904px;
    height: auto;
    box-sizing: border-box;
  }
  .footer{
    min-width: 904px;
    height: 100%;
    box-sizing: border-box;
  }
  .welcomeLogin{
    padding:32px 0px 30px;
  }
  .kuohaoright,.kuohaoleft{
    width:30px;
    height:64px;
  }
}
.highlightWords{
  color: #11B7D3;
}
