/* 
* 所在字体适配均存放在此，暂时共存于一个文件
*/


/* 尺寸3840之间的：版心最小宽度为，两侧宽各为： */
@media screen and (min-width:3840px) {
  
}


/* 尺寸在1440至3840之间的：版心最小宽度为：1280px，两侧宽各为：80px */
@media screen and (min-width:1440px) and (max-width:3840px) {
  .font64{
    font-size: 54px;
  }
  .font24 {
    font-size: 24px;
  }
  .font20 {
    font-size: 20px;
  }
  .font18 {
    font-size: 18px;
  }
  .font16 {
    font-size: 16px;
  }
  .font14 {
    font-size: 14px;
  }
  .font12 {
    font-size: 12px;
  }
}

/* 尺寸在1024至1440之间的：版心最小宽度为：904px，两侧宽各为：60px */
@media screen and (max-width:1440px) {
    .font64{
      font-size: 40px;
    }
    .font24 {
      font-size: 22px;
    }
    .font20 {
      font-size: 18px;
    }
    .font18 {
      font-size: 16px;
    }
    .font16 {
      font-size: 14px;
    }
    .font14 {
      font-size: 12px;
    }
    .font12 {
      font-size: 12px;
    }
}
